
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-image: url("skyblue.jpg");
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    background-attachment: fixed;
    height: 100%;
    padding-top: 70px;
   
   
}

nav {
    background-color: #f5f5f5;
    
}
/* Parallax background */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: 1; /* behind everything */
}


/* Navbar */


/* Content + hero scrolls above background but under navbar */
.content-wrapper {
  position: relative;
  z-index: 2;
   /* offset for navbar */
}

/* Hero section */


main {
  margin-top: 1rem;
}
#hero img {
  /* width: 100%; */
  height: auto;
  
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.navbar-toggler {
    padding: 0 0.2rem;
   
}

nav li {
    font-size: 0.9rem;
    width: 80px;
    }

.navbar-nav li :hover {
    
    background-color:#b5d6e6 ;
    color:rgb(15, 12, 12);
    border: 2px #8b8b96;
    box-shadow:10px 10px 5px #929dae;
    border-radius: 15px;
    width: 100%;
    padding: 10px 25px 10px;
    
}

#hero {
  position: relative;   /* or height: auto if image controls it */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.hero-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.container,
.container-projects {
    max-width: 80%;
    background-color: rgba(240, 248, 255, 0.3);
    backdrop-filter: blur(8px);
    padding: 0 2rem;
    margin: 0 auto;
   
}


.web {
  
   height: 365px;
   padding: 20px 15px 20px;
   }
       
   .python { 
      padding: 20px 15px 20px;
      
   }


.web .python .casamenu {
    margin-bottom: auto;
    width: 100%;
    box-shadow:  8px 8px 5px #929dae;

}



/* tablet size body styling - dont need to include all the code just keep what you are changing and delete the rest */

@media only screen and (min-width: 768px) {
    
    body {
        padding-top: 50px;
    }
    .banner {
        width: 100%;
        height: 250px;
    
    }


    .wrapper {
        width: 600px;
        margin: 0 auto;
    }
    .info-me h2 {
        padding: 20px 0px 0px;
        margin-left: 20px;
            
   }
   
   .info-me p {
       padding: 20px 0px 0px;
       margin-left: 20px;
       margin-bottom: 10px;
       
   }

   .info-me {
       display: flex;
       flex-direction: column;
       justify-content: center;
   }
   
   .img-me {
        
        box-shadow: 10px 10px 10px 5px #929dae;
        border-radius: 50px;
        
   }

   .custom-btn {
    margin-left: auto;
    margin-right: 1rem;
    border: outset 1px rgb(186, 186, 186);
    border-radius: 15px;
    box-shadow: 4px 4px 3px #929dae;
   }

   .custom-btn a {
    text-decoration: none;
    font-weight: 600;
    padding: 10px 10px 5px;
    font-size: 16px;
    color: rgb(25, 26, 27);
   }
   
   h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.web, .python, .casamenu {
    /* margin: auto; */
    width: 600px;
    display: flex;
    /* border: 2px solid red; */
    margin-bottom: 20px;
    margin-top: 40px;
    flex-direction: row;
    height: 380px;
    display: flex;
    justify-content: space-between;
    
}
nav li {
    margin-right: 20px;
}
    
.projects {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}
figure {
    margin-top: 1px;
    
}
figcaption {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    width: 80%;
    
    
}

}


/* styling body for desktop */

@media only screen and (min-width: 992px) and (orientation: landscape) 
{

.wrapper {
    width: 100%;
}

nav {
    padding: 1rem;
    margin-bottom: 0;
}


.info-me h2 {
    padding: 0px 0px 4px;
    margin-top: 1rem;
    margin-bottom: 10px;
    font-size: 18px;
        
}

.info-me p {
   padding: 5px 0px 5px;
   font-size: 0.8rem;
   
  
   
}




.img-me {
   
    margin: 0.5rem;
    max-width: 350px;
    box-shadow: 10px 10px 10px 5px #929dae; 
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.projects {
    display: flex;
    flex-wrap: wrap; 
    /* border: 2px solid blue; */
    width: 100%;  
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: space-between;
}
figure {
    margin-top: 2px;
   
}
figcaption {
    
    font-size: 12px;
    margin-left: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    font-weight: 500;
    text-align: center;
    max-width: 900px; 
    

}
h3 {
    margin-top: 100px;
    margin-bottom: 20px;
    display: center;
    font-size: 18px;
    
}

.custom-btn {
    border: outset 1px rgb(186, 186, 186);
    border-radius: 15px;
    box-shadow: 8px 8px 5px #929dae;
    background-color:whitesmoke; 
    color:rgb(25, 26, 27);
    padding: 5px 8px 5px;
    margin-bottom: 1rem;
    
}


.custom-btn:hover,
.custom-btn:active,
.custome-btn:focus-visible {
    background-color:#b5d6e6!important;
    border: 1px #8b8b96;
    border-radius: 15px;
    padding: 7px 10px 7px;
    border: 1px solid rgb(186, 186, 186);  
    color:rgb(25, 26, 27)!important
    
}
.web {
    height: 260px;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 0px;
    width: 330px;
    
}


.python {
    height: 260px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    width: 330px;

}

.casamenu {
    height: 260px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 330px;
   
}




.python, .web, .casamenu {
    border-radius: 50px;
    box-shadow: 10px 10px 10px 5px  #929dae;
    padding: 0px;
    cursor: pointer;
} 
}  

