
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-image: url("skyblue.jpg");
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    background-attachment: fixed;
    height: 100%;
    padding-top: 50px;
   
   
}

nav, footer {
    background-color: #f5f5f5;
    
}

/* Parallax background */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: 1; /* behind everything */
}


/* Navbar */


/* Content + hero scrolls above background but under navbar */
.content-wrapper {
  position: relative;
  z-index: 2;
   /* offset for navbar */
}

/* Hero section */


main {
  margin-top: 1rem;
}
#hero img {
  /* width: 100%; */
  height: auto;
 
  
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.navbar-toggler {
    padding: 0 0.2rem;
   
}

nav li {
    font-size: 0.9rem;
    width: 80px;
    }

.navbar-nav li:hover {
    
    background-color:#b5d6e6 ;
    color:rgb(15, 12, 12);
    border: 2px #8b8b96;
    box-shadow:10px 10px 5px #929dae;
    border-radius: 15px;
    width: 100%;
    padding: 1px 2px 1px;
    
}

#hero {
  position: relative;   /* or height: auto if image controls it */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.hero-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.container,
.container-projects {
    max-width: 80%;
    background-color: rgba(240, 248, 255, 0.5);
    backdrop-filter: blur(8px);
    margin: 0 auto;
    border-radius: 5px;
    
   
}

.img-me {
        
        box-shadow: 10px 10px 10px 5px #929dae;
        border-radius: 50px;
        width: 100%;
        max-width: 400px;
        height: auto;
        display: block;
        margin: auto;
            
   }

   .info-me {
    font-size: 0.6rem;
   }

h2 {
    font-size: 1.1rem;
}
h3 {
   
    font-size: 0.9rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.custom-btn {
    
    border: outset 1px rgb(186, 186, 186);
    border-radius: 4px;
    box-shadow: 4px 4px 3px #929dae;
   }

.custom-btn:hover,
.custom-btn:active,
.custome-btn:focus-visible {
    background-color:#b5d6e6!important;
    border: 1px #8b8b96;
    border-radius: 15px;
    padding: 7px 10px 7px;
    border: 1px solid rgb(186, 186, 186);  
    color:rgb(25, 26, 27)!important
    
}
   
figcaption {
    background-color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    font-weight: 500;
    text-align: center;
    padding: 0.1rem;
    border-radius: 5px;
}
 
figcaption h5 {
    font-size: 0.8rem;
    margin-top: 0.6rem;
    font-weight: 600;
    
}

figcaption h6 {
    font-size: 0.7rem;
    font-style: italic;
}

.card  {
    margin-bottom: 1rem;
}



.custom-btn {
    border: outset 1px rgb(186, 186, 186);
    border-radius: 15px;
    box-shadow: 8px 8px 5px #929dae;
    background-color:whitesmoke; 
    color:rgb(25, 26, 27);
    padding: 4px 6px 4px;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 0.8rem;
}

footer a{
    color:rgb(25, 26, 27);
    font-size: 0.8rem;

}

footer h5 {
    font-size: 0.8rem;
}

 .socials i {
    
    display: inline-block;
    justify-content: space-between;
    margin-right: 2px;
   font-size: 0.9rem;
   
}
.socials i:hover,
footer a:hover {
    color:#616e74;
    
    

}


/* tablet size body styling - don't need to include all the code just keep what you are changing and delete the rest */

@media only screen and (min-width: 768px) {
    
    body {
        padding-top: 50px;
    }
    .banner {
        width: 100%;
        height: 250px;
    
    }


    /* .wrapper {
        width: 600px;
        margin: 0 auto;
    }
     */
   
   .info-me p {
      font-size: 0.8rem;
       
       
   }

    .info-me h2 {
        font-size: 0.9rem;
        font-weight: 600;
    }

   .info-me {
       display: block;
       margin: 0 auto;
       padding: 1.6rem;
       
       
   }

   .img-me {
    max-width: 400px;
    margin-top: 1.2rem;
    
   }
   
   .container {
    max-width: 700px;
   }
   

   .custom-btn a {
    text-decoration: none;
    font-weight: 600;
    padding: 10px 10px 5px;
    font-size: 16px;
    color: rgb(25, 26, 27);
   }
   
   h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    
}
.web, .python, .casamenu {
    /* margin: auto; */
    width: 600px;
    display: flex;
    /* border: 2px solid red; */
    margin-bottom: 20px;
    margin-top: 40px;
    flex-direction: row;
    height: 380px;
    display: flex;
    justify-content: space-between;
    
}
nav li {
    margin-right: 20px;
}
    
.projects {
    margin: 0 auto;
}
figure {
    margin-top: 0.4rem;
    
}

}


/* styling body for desktop */

@media only screen and (min-width: 992px) and (orientation: landscape) 
{

.wrapper {
    width: 100%;
}

nav {
    padding: 1rem;
    margin-bottom: 0;
}


.info-me h2 {
    /* padding: 0px 0px 4px; */
    /* margin-top: 1rem; */
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
        
}

.info-me p {
  margin-right: 1.2rem;
   font-size: 0.8rem;
 
}

.container, .container-projects {
    max-width: 960px;
    padding: 0.5rem;

}


.img-me {
   
    margin:auto;
    max-width: 400px;
    box-shadow: 10px 10px 10px 5px #929dae; 
    max-height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.projects {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;  
    justify-content: space-between;
}
figure {
    margin-top: 0.5rem;
   
}
figcaption h5 {
    
    font-size: 1.1rem;   

}


.info-me h2 {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

h3 {
    padding-top: 0.8rem;
    display: center;
    font-size: 1.5rem;
    
}


.custom-btn {
    font-size: 0.9rem;
     padding: 5px 8px 5px;
     margin-bottom: 0.5rem;
     
     

}

footer a{
    color:rgb(25, 26, 27);
    font-size: 1.1rem;
    

}

 .socials i {
    
    display: inline-block;
    justify-content: space-between;
    margin-right: 2px;
   font-size: 1.4rem;
 }  

.web {
    height: 260px;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 0px;
    width: 330px;
    
}


.python {
    height: 260px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    width: 330px;

}

.casamenu {
    height: 260px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 330px;
   
}




.python, .web, .casamenu {
    border-radius: 50px;
    box-shadow: 10px 10px 10px 5px  #929dae;
    padding: 0px;
    cursor: pointer;
} 
}  
